<table>
    <caption>{{title}}</caption>
    <tr>
        <th> Nome </th>
        <th> Cognome </th>
        <th> E-Mail </th>
        <th> Codice Fiscale </th>
        <th> Provincia </th>
        <th> Cap </th>
        <th> Indirizzo </th>
        <th> Telefono </th>      
    </tr>
    
        <tr *ngFor="let user of users">
            <td>{{ user.name }}</td>
            <td>{{ user.lastname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.fiscalcode }}</td>
            <td>{{ user.province }}</td>
            <td>{{ user.postalcode }}</td>
            <td>{{ user.address }}</td>
            <td>{{ user.phone }}</td>
        </tr>
</table>